rules_version = '2'

service cloud.firestore {
    match /databases/{database}/documents {
        function isAuthor(){
            return request.auth.user.id == request.resource.data.author_id
                && (resource.data.author_id == null || resource.data.author_id == request.resource.data.author_id)
        }

        function isSignedIn(){
            return request.auth != null
        }

        match /users/{userId} {
            // Users can only be created by the admin SDK
            allow create if false
            allow update, delete: if isSignedIn() && request.auth.user.id == resource.id
        }

        match /{document=**} {
            allow write: if isSignedIn() && isAuthor()
            allow read: if isSignedIn() && request.auth.token != null
        }
    }
}
